<footer class="custom-footer bg-dark">
    <div class="container">
        <div class="row text-white justify-content-end">
            <i>@2017 Hexa Cliq. All Rights Reserved. </i>
        </div>
    </div>
</footer>

<!-- need to show in welcome page as pop up <div *ngIf="true">
    This site uses cookies. Cookies remember you, so we can provide you with personalized services <a routerLink="">What
      do we keep & Why</a>
  </div> -->

  <!-- close button <div class="flex">
    <button type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div> -->