<div class="container">
    <div class="row justify-content-around">
        &nbsp;
    </div>
    <div class="row justify-content-around">
        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 mb-4 mb-md-0 p-0 border border-dark rounded-lg justify-content-center">
            <div class="text-center">
                <h1 class="p-2 bg-dark text-white">Your Personalized Attendance Tracker</h1>
            </div>
            <br>
            <br>
            <div class="pl-4">
                <img width="90%" alt="Workers" src="assets/forworker.svg" />
                <br>
                <br>
                <img width="40" alt="Work from home" src="assets/house-24px.svg" /> &nbsp;&nbsp;Work from home
                <br>
                <br>
                <img width="40" alt="Payment" src="assets/payments-24px.svg" /> &nbsp;&nbsp;Instant Attendance
                <br>
                <br>
                <img width="40" alt="Easy to work" src="assets/laptop_mac-24px.svg" /> &nbsp;&nbsp;Easy to use
                <br>
                <br>
                <img width="40" alt="Bonus" src="assets/redeem-24px.svg" /> &nbsp;&nbsp;Welcome bonus 100 Awe Points
                <br>
                <br>
            </div>
            <div class="text-center">
                <button class="btn btn-lg btn-secondary" (click)="contactUs()">Know more</button>
                &nbsp;
                &nbsp;
                <button class="btn btn-lg btn-success" (click)="register()">Register with us</button>
            </div>
            <br>
        </div>
    </div>
    <div class="row justify-content-around">
        &nbsp;
    </div>
</div>