<div class="container">
    <div class="row bg-light">
        <div class="col-12 p-2 bg-light">
            <ul class="col-12 nav">
                <li class="col-6 bg-light"><a id="loginId" class="col-12 btn btn-light justify-self-center"
                        data-toggle="tab" href="#customer-form">Customer</a></li>
                <li class="col-6 bg-light"><a class="col-12 btn btn-light active" data-toggle="tab"
                        href="#worker-form">Workers</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="tab-content bg-white">
        <div id="customer-form" class="tab-pane fade">
            <div class="row">
                <h1>Hexa CliQ Provider</h1>
            </div>
            <div class="row">
                <h3>We provide smooth integration for verification and prevention of potential DoS attack using Hexa Cliq.
                </h3>
            </div>
            <br>
            <div class="row">
                <h4>Currenly we support only 2 types of Hexa Cliq:</h4>
            </div>
            <div class="row">
                <ul>
                    <li>Distorted Text</li>
                    <li>Mathematical Operations</li>
                </ul>
            </div>
            <div class="row">
                <p>
                    Our service uses hand work from a large pool of people for recognition and can recognize any humanly
                    readable Hexa Cliq that can be recognized by a human. Additionally, the service can recognize
                    mathematical operations along with distorted text
                    Hexa Cliq.
                </p>
            </div>
            <br>
            <div class="row bg-light justify-content-around p-4">

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 mb-4 mb-md-0 bg-white justify-content-center text-center">
                    <br>
                    <h3 class="text-primary">Speed</h3>
                    <hr>
                    <h3>7 s</h3>
                    <p>Text Hexa Cliq</p>
                    <br>
                    <h3>11 s</h3>
                    <p>Mathematical Hexa Cliq</p>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 mb-4 mb-md-0 bg-white justify-content-center text-center">
                    <br>
                    <h3 class="text-primary">Rate</h3>
                    <hr>
                    <h3>$ 1.49</h3>
                    <p>Per 1000 Text Hexa Cliq</p>
                    <br>
                    <h3>$ 3.49</h3>
                    <p>Per 1000 Mathematical Hexa Cliq</p>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 bg-white justify-content-center text-center">
                    <br>
                    <h3 class="text-primary">Load</h3>
                    <hr>
                    <h3>56 %</h3>
                    <p>Text Hexa Cliq</p>
                    <br>
                    <h3>78 %</h3>
                    <p>Mathematical Hexa Cliq</p>
                </div>
            </div>
        </div>
        <div id="worker-form" class="tab-pane fade in active show">
            <div class="row">
                <h1>Online Hexa Cliq Solving Job</h1>
            </div>
            <div class="row">
                <h3>Hexa Cliq solving is a very simple and guaranteed way to have additional income through Internet</h3>
            </div>
            <br>
            <br>
            <div class="row">
                <img class="align-self-center" width="40" alt="Hexa Cliq" src="assets/network_check-24px.svg" />
                <div class="col-9">
                    <b>What do I need to work?</b>
                    <br>
                    <p>All you need is a computer or a smartphone with Internet access. You'll need
                        to spend just 5-10 minutes daily. </p>
                </div>
            </div>
            <br>
            <div class="row">
                <img class="align-self-center" width="40" alt="Hexa Cliq" src="assets/home_work-24px.svg" />
                <div class="col-9">
                    <b>How to work?</b>
                    <br>
                    <p>You need to login to {{title}} and solve the Hexa Cliq available for that specific day. Everyday
                        user are assigned minimum of 10 Hexa Cliq. There are multiple attempts to solve the Hexa Cliq in
                        case if you fail to solve it on first attempt. </p>
                </div>
            </div>
            <br>
            <div class="row">
                <img class="align-self-center" width="40" alt="Hexa Cliq" src="assets/face-24px.svg" />
                <div class="col-9">
                    <b>Who can work?</b>
                    <br>
                    <p>Though we prefer students, housewives and handicapped people to work for us, anyone interested
                        can work for free. Post registration, verification is done for each individual. Currently
                        we are allowing to work only the citizens of Bangladesh, Cambodia, Indonesia, India,
                        Philippines, Sri Lanka and Vietnam.</p>
                    <p>Your age must be at least 15 years.</p>
                </div>
            </div>
            <br>
            <div class="row">
                <img class="align-self-center" width="40" alt="Hexa Cliq"
                    src="assets/swap_horizontal_circle-24px.svg" />
                <div class="col-9">
                    <b>How much I can earn?</b>
                    <br>
                    <p>You can solve minimum 10 Hexa Cliq's daily. Each correctly answered Hexa Cliq is equivalant 10
                        points. Refer following points to currency conversion table </p>
                    <table class="table table-bordered">
                        <thead>
                            <td>
                                Country
                            </td>
                            <td>
                                Points
                            </td>
                            <td>
                                Conversion
                            </td>
                        </thead>
                        <tr>
                            <td>
                                Bangladesh
                            </td>
                            <td>
                                1000
                            </td>
                            <td>
                                1800 BDT
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Cambodia
                            </td>
                            <td>
                                1000
                            </td>
                            <td>
                                79000 KHR
                            </td>
                        </tr>
                        <tr>
                            <td>
                                India
                            </td>
                            <td>
                                1000
                            </td>
                            <td>
                                1500 INR
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Indonesia
                            </td>
                            <td>
                                1000
                            </td>
                            <td>
                                303000 IDR
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Philippines
                            </td>
                            <td>
                                1000
                            </td>
                            <td>
                                1000 Pesos
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Sri Lanka
                            </td>
                            <td>
                                1000
                            </td>
                            <td>
                                3800 LKR
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Vietnam
                            </td>
                            <td>
                                1000
                            </td>
                            <td>
                                475685 VND
                            </td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
        <br>
        <br>
    </div>
</div>