<header class="bg-primary">
    <div class="container">
        <nav class="main_nav navbar navbar-expand-md navbar-custom justify-content-center">
            <div class="navbar-brand"><img width="40" class="rounded-circle" alt="Hexa Cliq" src="favicon.ico" /> </div>

            <!--common options-->
            <ul class="navbar-nav navbar-collapse justify-content-around">
                <li *ngIf="!isUserLoggedIn()"><a id="homeLink" class="btn btn-primary" routerLink="/">Hexa Cliq</a>
                </li>
                <!-- <li *ngIf="isUserLoggedIn()"><a class="btn btn-primary" routerLink="/dashboard">Dashboard</a></li>
                <li *ngIf="isUserLoggedIn()"><a class="btn btn-primary" routerLink="/earn-money">Earn Money</a></li>
                <li *ngIf="isUserLoggedIn()"><a class="btn btn-primary" routerLink="/wallet-balance">Wallet &
                        Transaction</a></li>
                <li *ngIf="isUserLoggedIn()"><a class="btn btn-primary" routerLink="/profile">Profile</a></li>
                <li><a class="btn btn-primary" routerLink="/how-it-works">How It Works?</a></li> -->
                <li><a class="btn btn-primary" routerLink="/contact-us">Contact Us</a></li>
                <li *ngIf="isUserLoggedIn()"><a class="btn btn-primary" routerLink="/logout-user">Logout</a></li>
                <li *ngIf="!isUserLoggedIn()"><a class="btn btn-success text-white"
                        routerLink="/register">Registration</a>
                </li>
            </ul>
            <div *ngIf="isUserLoggedIn()" class="text-white">
                <img src="{{getUserPicture()}}"  class="rounded-circle" width="40" alt="Hexa Cliq" />
                <b>&nbsp;{{getUserName()}}</b>
            </div>
        </nav>
    </div>
</header>